<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="adminRegisterForm">
  <h5>Create Admin</h5>

  <input type="text" id="adminName" placeholder="Name" class="form-control mb-2" required>

  <input type="text" id="adminUsername" placeholder="Username" class="form-control mb-2" required>

  <input type="email" id="adminEmail" placeholder="Email" class="form-control mb-2">

  <input type="password" id="adminPassword" placeholder="Password" class="form-control mb-2" required>

  <button type="submit" class="btn btn-primary w-100">
    Create Admin
  </button>
</form>

<script src="/client/js/adminJs/admin-login.js"></script>
</body>
</html>